body {
	background-color: lavender;
}

h1 {
	color: blue;
	font-size: 30px;

}

ul {
	color: purple;
	font-size: 30px;
}

li {
	font-size: 25px;
}

img {
	width: 50%;
	height: 50%;
	margin-left: 20%;
	border-style: solid;
	border-color: indigo;
}