.header {
  background-color: white;
  border: none;
  color: rgb(133, 153, 241);
  cursor: pointer;
  display: inline-block;
  font-size: 100px;
  font-family: 'Montserrat', sans-serif;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
 } 